extends base 

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot your password?
      p.ma-bt-md Enter your email address and we'll send you a link to reset your password.
      form.form.form--forgot-password#forgot-password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(
            type='email',
            name='email',
            placeholder='you@example.com',
            required
          )
        .form__group.form__group--horizontal
          button.btn.btn--green(type='submit') Send reset link
          a.btn-text(href='/login') Back to login
